body {
    position: relative;
    font-family: 'Noto Serif', serif
    
  }

  
  .scrollspy-example-2 {
    position: relative;
    height: 350px;
    overflow: auto
  }
  .r-verse-text 
  {
    text-align: center;
    margin-bottom: 1.5em
}
.r-synonyms, p {
    text-align: justify;
    margin-bottom: 1.5em
}
.r-translation,  p
 {
    text-align: justify;
    margin-bottom: 1.5em
 }
 .card{
    padding: .5rem 1rem;
 }
 .r-notes{
    text-align: justify;
    margin-bottom: 1.5em
 }